.Theme {
  .user-background {
    display: flex;
    background: url('/Images/Backgrounds/1118086.jpg') center center/100% no-repeat fixed;
    height: 100vh !important;
    object-fit: cover;
    opacity: .85;
    align-items: center;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
    flex-direction: column;
    font-family: 'little_trouble_girl_bvregular';
    /*font-size: small;*/
    text-wrap: normal;
    text-align: start;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 65%;
    height: 75%;
    background: rgba(255, 255, 255, .25);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: 'little_trouble_girl_bvregular';
    color: black;
    overflow: scroll;

  }

  .icon-2 {
    /*display: flex;*/
    height: 100px;

  }
}