/*.sprite {*/
  /*animation:*/
  /*playv. 5s steps(5) infinite;*/
  /*playh. 1s steps(7) infinite;*/
/*}*/

/*.animation {*/
  /*playv. (duration *rows) steps(rows) infinite;*/
  /*playh. duration steps(cols) infinite;*/
/*}*/

@-webkit-keyframes playv {
  0% { background-position-y: 0; }
  100% { background-position-y: -550px; }
}

@-webkit-keyframes playh {
  0% { background-position-x: 0; }
  100% { background-position-x: -903px; }
}

.user-background {
  display: flex;
  background: url('/Images/Backgrounds/1118086.jpg') center center/100% no-repeat fixed;
  height: 100vh !important;
  object-fit: cover;
  opacity: .85;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  flex-direction: column;
  font-family: 'little_trouble_girl_bvregular';
  /*font-size: small;*/
  text-wrap: normal;
  text-align: start;

}